.cross
  min-height: 3288px //возможно стоит сделать 100vh, но судя по дизайну, таким образом будет смотреться лучше
  background-color: black
  background-image: url("cross.png")
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  gap: 100px


.titleBlock
  width: 100%
  display: flex
  justify-content: center

.title
  color: white
  font-size: 60px
  line-height: 75px
  margin-top: 50px
  text-transform: uppercase

.mainContent
  display: flex
  flex-direction: column
  gap: 100px
  width: 85%

.topText
  padding: 50px 60px
  display: flex
  justify-content: space-between
  background-color: rgba(29, 29, 31, 0.45)
  height: 625px
  align-items: center
  border-radius: 18px
  gap: 150px

.textLeft, .textRight
  color: white
  font-size: 30px
  width: 600px
  line-height: 50px

.textLeft
  text-align: left

.textRight
  text-align: right

.bottomText
  height: 930px
  background-color: rgba(29, 29, 31, 0.45)
  border-radius: 18px
  width: 60%
  margin-left: auto
  display: flex
  align-items: center
  justify-content: center

.planet
  position: absolute
  right: -400px
  bottom: 900px
  z-index: 2

.trading
  width: 526px
  height: 83px
  background-color: #E3C6A8
  border-radius: 10px
  display: flex
  align-items: center
  position: absolute
  bottom: 1000px
  right: 230px
  z-index: 1


.texTrading
  font-size: 45px
  text-align: center
  width: inherit








