.main
  width: 100%
  height: 100vh //не делать min-height, т.к текст будет не по центру
  padding: 30px
  background-color: black

.header
  width: 100%
  height: 100px
  display: flex
  justify-content: flex-end
  align-items: center

.rightSide
  display: flex
  gap: 100px

.icons
  display: flex
  align-items: center
  gap: 20px

.sectionBlock
  display: flex
  align-items: center
  width: 100%
  height: 100%
  justify-content: flex-end

.wrapper
  width: 50%
  display: flex
  flex-direction: column
  align-items: flex-end
  gap: 40px

.underTitleText
  color: white
  font-size: 20px
  line-height: 30px
  text-align: left

.bottomText
  font-size: 25px
  line-height: 35px
  text-align: right
  color: white