.about
  min-height: 1600px //возможно стоит сделать 100vh, но судя по дизайну, таким образом будет смотреться лучше
  background-color: black
  background-image: url("about.png")
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

