.footer
  min-height: 467px //возможно стоит сделать 100vh, но судя по дизайну, таким образом будет смотреться лучше
  background-color: black
  background-image: url("Futter.png")
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  position: relative
  display: flex
  align-items: center

.wrapper
  display: flex
  justify-content: space-between
  width: 100%
  padding: 0 40px

  @media only screen and (max-width: 850px)
    flex-direction: column
    align-items: flex-start
    gap: 20px


.leftSide, .rightSide
  display: flex
  flex-direction: column
  gap: 50px
  @media only screen and (max-width: 850px)
    gap: 20px

.rightSide
  max-width: 520px
  align-items: flex-end

  @media only screen and (max-width: 850px)
    align-items: flex-start

.leftSide
  @media only screen and (max-width: 1150px)
    svg
      width: 300px

  @media only screen and (max-width: 425px)
    svg
      width: 200px


.text, .textRight, .textLeft
  font-size: 24px
  line-height: 40px
  color: white
  text-transform: uppercase
  @media only screen and (max-width: 1150px)
    font-size: 16px

  @media only screen and (max-width: 425px)
    font-size: 12px

.textLeft
  text-align: left

.textRight
  text-align: right
  @media only screen and (max-width: 850px)
    text-align: left

.mail
  width: max-content
  height: 91px
  border: 1px solid white
  border-radius: 10px
  display: flex
  gap: 20px
  padding: 20px 40px

  @media only screen and (max-width: 425px)
    svg
      width: 32px
    padding: 5px 20px
    height: 50px


